{% extends 'base.html' %}

{% block contenido %}
<div class="container my-5">
  <div class="card border-0 shadow">
    <div class="card-header bg-dark text-white">
      <h4 class="mb-0">Contáctanos</h4>
    </div>
    <div class="card-body">
<form method="POST">
  <div class="mb-4">
    <label for="asunto" class="form-label">Asunto</label>
    <input type="text" class="form-control" name="asunto" id="asunto"
           maxlength="100" minlength="5" required
           pattern="^[^;$&|{}

\[\]

<>\"'\\`]{1,100}$">
  </div>

  <div class="mb-4">
    <label for="motivo" class="form-label">Motivo</label>
    <select class="form-select" id="motivo" name="motivo" required>
      <option value="" disabled selected>Selecciona un motivo</option>
      <option value="matricula">Matrícula</option>
      <option value="duda">Duda</option>
      <option value="reclamo">Reclamo</option>
      <option value="sugerencia">Sugerencia</option>
    </select>
  </div>

  <div class="mb-4">
    <label for="medio_de_contacto" class="form-label">Medio de contacto</label>
    <select class="form-select" id="medio_de_contacto" name="medio_de_contacto" required>
      <option value="" disabled selected>Selecciona un medio</option>
      <option value="email">E-mail</option>
      <option value="numero">Número de Teléfono</option>
    </select>
  </div>

  <div class="mb-4">
    <label for="contacto" class="form-label">Teléfono o E-mail</label>
    <input type="text" class="form-control" id="contacto" name="contacto"
           maxlength="100" required
           pattern="^[^;$&|{}

\[\]

<>\"'\\`]{1,100}$">
  </div>

  <div class="mb-4">
    <label for="mensaje" class="form-label">Mensaje</label>
    <textarea class="form-control" name="mensaje" id="mensaje"
              maxlength="1000" rows="5" required
              pattern="^[^;$&|{}

\[\]

<>\"'\\`]{1,1000}$"></textarea>
  </div>

  <div class="text-end">
    <button type="submit" name="accion" id="accion" value="contactar" class="btn btn-dark px-4">
      Enviar mensaje
    </button>
  </div>
</form>

    </div>
  </div>
</div>
{% endblock %}


