{% extends 'administrador/extras.html' %}

{% block contenido %}

<div class="container mt-4 border-dark">
  <div class="card shadow">
    <div class="card-header bg-dark text-white">
      Crear nuevo usuario
    </div>
    <div class="card-body">
      <form method="POST">

        <div class="mb-3">
          <label for="nombres" class="form-label">Nombres</label>
          <input type="text" class="form-control" name="nombres" id="nombres" maxlength="100" required pattern="^[^;$&|{}

\[\]

<>\"'\\`]{1,100}$">
  </div>

  <div class="mb-3">
    <label for="apellidos" class="form-label">Apellidos</label>
    <input type="text" class="form-control" name="apellidos" id="apellidos"
           maxlength="100" required
           pattern="^[^;$&|{}

\[\]

<>\"' \\`]{1,100}$">
        </div>

        <div class="mb-3">
          <label for="rut" class="form-label">RUT</label>
          <input type="text" class="form-control" name="rut" id="rut" maxlength="12" required pattern="^[^;$&|{}

\[\]

<>\"'\\`]{1,12}$">
  </div>

  <div class="mb-3">
    <label for="contrasena" class="form-label">Contraseña</label>
    <input type="password" class="form-control" name="contrasena" id="contrasena"
           maxlength="20" required
           pattern="^[^;$&|{}

\[\]

<>\"' \\`]{1,20}$">
        </div>

        <div class="mb-3">
          <label for="cargo" class="form-label">Cargo</label>
          <select class="form-select" name="cargo" id="cargo" required>
            <option value="">Selecciona un cargo</option>
            <option value="administrador">Administrador</option>
            <option value="estudiante">Estudiante</option>
            <option value="noticiero">Noticiero</option>
            <option value="profesor">Profesor</option>
          </select>
        </div>

        <button type="submit" name="accion" id="accion" value="crear" class="btn btn-success">Crear</button>
      </form>

    </div>
  </div>
</div>

{% endblock %}