{% extends 'base.html' %}

{% block contenido %}

<header class="historia-header">
  <h1>Administración de Usuarios</h1>
  <p>
    Desde esta sección podrás crear nuevos usuarios dentro del sistema del
    {{ nombre_colegio }}, asignar roles específicos y vincular correctamente
    a estudiantes, apoderados y personal según su cargo correspondiente.
  </p>
</header>

<div class="container mt-4 border-dark">
  <div class="card shadow">
    <div class="card-header bg-dark text-white">
      Crear nuevo usuario
    </div>
    <div class="card-body">
      <form method="POST" id="crear_usuario_form">

        <div class="mb-3">
          <label for="nombres" class="form-label">Nombres</label>
          <input type="text" class="form-control" name="nombres" id="nombres" maxlength="100" required pattern="^[^;$&|{}

\[\]

<>\"'\\`]{1,100}$">
  </div>

  <div class="mb-3">
    <label for="apellidos" class="form-label">Apellidos</label>
    <input type="text" class="form-control" name="apellidos" id="apellidos"
           maxlength="100" required
           pattern="^[^;$&|{}

\[\]

<>\"' \\`]{1,100}$">
        </div>

        <div class="mb-3">
          <label for="rut" class="form-label">RUT</label>
          <input type="text" class="form-control" name="rut" id="rut" minlength="7" maxlength="12" required pattern="^[^;$&|{}

\[\]

<>\"'\\`]{1,12}$">
  </div>

  <div class="mb-3">
    <label for="contrasena" class="form-label">Contraseña</label>
    <input type="password" class="form-control" name="contrasena" id="contrasena"
           maxlength="20"
           placeholder="Asignada automáticamente (primeros 4 dígitos del RUT)" disabled>
        </div>

        <div class="mb-3">
          <label for="cargo" class="form-label">Cargo</label>
          <select class="form-select" name="cargo" id="cargo" required>
            <option value="" selected disabled>Seleccione un cargo</option>

            {% for rol in roles %}
            <option value="{{ rol }}">{{ rol | capitalize }}</option>
            {% endfor %}
          </select>
        </div>

        <div id="bloque_dinamico">
        </div>

        <button type="submit" name="accion" id="accion" value="crear" class="btn btn-success">Crear</button>
      </form>

    </div>
  </div>
</div>

<script>

  let CARGAS = [];
  const CARGO_USUARIO = document.getElementById("cargo");

  function agregar_cargas() {
    const input = document.getElementById("rut_carga");
    const valor = input.value.trim();

    if (valor) {
      const lista = document.getElementById("mostrar_rut");

      const li = document.createElement("li");
      li.className = "list-group-item d-flex justify-content-between align-items-center";

      // botón de quitar que también actualiza el array
      const btnQuitar = document.createElement("button");
      btnQuitar.type = "button";
      btnQuitar.className = "btn btn-sm btn-outline-danger";
      btnQuitar.textContent = "Quitar";
      btnQuitar.onclick = () => {
        const index = CARGAS.indexOf(valor);
        if (index > -1) {
          CARGAS.splice(index, 1);
        }
        li.remove();
        document.getElementById("carga_apoderado").setAttribute("value", CARGAS.join(","));
      };

      li.innerHTML = `<span>${valor}</span>`;
      li.appendChild(btnQuitar);

      lista.appendChild(li);

      // actualizar array y campo oculto
      CARGAS.push(valor);
      document.getElementById("carga_apoderado").setAttribute("value", CARGAS.join(","));

      input.value = "";
    }
  }

  document.getElementById("cargo").addEventListener("change", (e) => {
    const seleccion = e.target.value;

    if (seleccion === "estudiante") {
      document.getElementById("bloque_dinamico").innerHTML = `

        <div class="mb-3">
          <label for="curso" class="form-label">Curso</label>
          <select class="form-select" name="curso_id" id="curso" required>
            <option value="" selected disabled>Seleccione un curso</option>
            {% for curso in cursos %}
              <option value="{{ curso['_id'] }}">{{ curso['curso'] | upper }} | Alumnos: {{ curso.alumnos }}</option>
            {% endfor %}
          </select>
        </div>
      `;

    } else if (seleccion === "apoderado") {
      document.getElementById("bloque_dinamico").innerHTML = `
        <div class="mb-3">
          <label for="rut_carga" class="form-label">RUT del Estudiante</label>
          <div class="input-group">
            <input id="rut_carga" type="text" class="form-control" placeholder="Ingrese RUT">
            <button class="btn btn-outline-primary" type="button" onclick="agregar_cargas()">Agregar</button>
          </div>
        </div>
        <input name="carga_apoderado" id="carga_apoderado" value="" hidden>
        <ul id="mostrar_rut" class="list-group list-group-flush"></ul>
      `;
      // reiniciar array al cambiar cargo
      CARGAS = [];
      document.getElementById("carga_apoderado").setAttribute("value", CARGAS.join(","));

    } else {
      document.getElementById("bloque_dinamico").innerHTML = "";
      CARGAS = [];
    }
  });
  document.getElementById("rut").addEventListener("input", () => {

    let input_rut = document.getElementById("rut").value.toLowerCase()
    let allowed = "1234567890k-"

    for (char_ of input_rut) {
      if (!allowed.includes(char_)) {
        document.getElementById("rut").value = input_rut.replace(char_, "")
      }
    }

  })

  // Valida que el usuario agrege al menos un apoderado cuando quiera crear uno
  document.getElementById("crear_usuario_form").addEventListener("submit", (e) => {

    if (CARGO_USUARIO.value === "apoderado" && CARGAS.length < 1) {
      e.preventDefault(); // cancela el envío
      alert("Debes de asignar al menos un estudiante al apoderado.");
      return;

    } else {
      document.getElementById("accion").hidden = true
      console.log("Enviando formulario.")
    }

  })

</script>

{% endblock %}