{% extends 'base.html' %}

{% block izquierda %}

<li><a class="nav-link color" href="administrador_mensajes">Solicitud de Contacto</a></li>
<li><a class="nav-link color" href="administrador_mensajes_vistos">Historial de Contacto</a></li>
<li><a class="nav-link" href="administrador">Crear Usuario</a></li>
<li><a class="nav-link" href="administrador_crear_taller">Crear Nuevos Talleres</a></li>
<li><a class="nav-link" href="administrar_taller_estudiantes">Administrar Talleres</a></li>
<li><a class="nav-link" href="administrar_pagina">Administrar Pagina</a></li>
<li><a class="nav-link" href="crear_roles">Crear Roles</a></li>
<li><a class="nav-link" href="administrar_usuarios">Administrar Usuarios</a></li>



<li><a class="nav-link" href="logout">Cerrar Sesion</a></li>

{% endblock %}

