{% extends 'base.html' %}

{% block contenido %}

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="{{ url_for('static', filename='img/login_imagen.png') }}"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form method="POST">
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <img src="{{ url_for('static', filename='img/liceo.png') }}" alt="Logo del colegio" class="me-3"
                      style="width:48px; height:48px; object-fit:contain;">
                    <span class="h1 fw-bold mb-0">{{ nombre_colegio }}</span>
                  </div>


                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Ingresa a tu INTRANET</h5>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="rut">RUT</label>

                    <input type="text" class="form-control" id="rut" name="rut" placeholder="12345678-9" required
                      pattern="^[^;$&|{}

\[\]

<>\"'\\`]{1,12}$" maxlength="12" minlength="7" class="form-control form-control-lg" />
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="contrasena">Contraseña</label>
                    <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="••••••••"
                      required pattern="^[^;$&|{}

\[\]

<>\"' \\`]{1,20}$" maxlength="20" minlength="4" class="form-control form-control-lg" />
                  </div>

                  <div class="pt-1 mb-4">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-dark btn-lg btn-block"
                      type="submit">Iniciar Sesion</button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}